.popup__square {
  width: 430px;
  max-height: 330px;
  background-color: white;
  color: #000000;
  border-radius: 10px;
  /*position: fixed;*/

}

@media screen and (max-width: 540px) {
  .popup__square {
    display: flex;
    justify-content: center;
    width:282px;
  }
}
