.add-button {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  background-color: black;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 35px 0px 35px 163px;
}
