.profile__header {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
  margin-top: 22px;
  margin-right: 18px;
  margin-bottom: 16px;
  flex-direction: row;
  /*grid-column: 1/2;*/
}
