.elements__button-delete {
  background-image: url('../../../images/deletebutton.svg');
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  border: 0px;
  background-color: transparent;
  transition: opacity linear 0.35s;
  display: flex;
  /*flex-direction: row;
  justify-self: self-end;*/
  margin-left: 250px;
  margin-top: 23.8px;
  margin-right: 16px;
}

.elements__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
