.elements__button-delete {
  background-image: url('../../../images/deletebutton.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 0px;
  width: 18px;
  height: 19px;
  position: absolute;
    right: 16px;
    top: 18px;*/
  background-color: transparent;
  transition: opacity linear 0.45s;
  /*flex-direction: row;
  justify-self: self-end;*/
  /*margin-top: 18px;
  margin-left: 249px;*/
}

.elements__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
