.profile__button-image {
  margin:0px;
  padding: 0px;
  border:0px;
  background-image: url(../../../images/Vector-pen.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile__button-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .profile__button-image{
    margin: 30.25px 48px 14px 10px;
  }
}
