.elements__button-like {
  background-image: url('../../../images/heartblack.svg');
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  border: 0px;
  background-color: transparent;
  transition: opacity linear 0.35s;
}

.elements__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__button-like:active {
 background-image: url('../../../images/blackfillheart.svg');
}

.elements__button-like_active {
  background-image: url('../../../images/blackfillheart.svg');
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
}
