.header {
  max-width: 880px;
  margin: 0px auto 62px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 362px) {
  .header {
    margin: 45px auto 62px;
  }
}
