.popup__input-name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 1.20;
  border: 0px;
  margin: 0px 36px 30px;
  max-width: 358px;
}
