.elements__cards {
  margin: 0px auto 68px;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:  0px;
  list-style: none;
  }

  @media screen and (max-width: 620px) {
    .elements__cards{
      margin: 0px auto ;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      max-width: 600px;
    }
  }


  @media screen and (max-width: 362px) {
    .elements__cards{
      margin: 0px 19px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
